.container
    .section_add__title
            //- button.hamburger.hamburger--emphatic
            //-     span.hamburger-box
            //-     span.hamburger-inner
            input(type="checkbox", id="menu_checkbox")
            label.toggle_button(for="menu_checkbox")
                span
            h1 TodoList
    .section_add
        
        .section_add__tasks
            .new_task
                input.title_inp(type="text", placeholder="Name your task")
                textarea.description_inp(name="", cols="30", rows="10", placeholder="Description task")
                .new_task_button
                    input(type="date", name="date" id="date")
                    input.add(type="button", value="Add")
        .section_description_todo
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem temporibus culpa reiciendis excepturi iste repudiandae vel ipsum eaque dolorem, placeat quas totam corrupti sapiente ipsa magnam perferendis ab odit saepe.

    .section_remove
        .section_remove_button
            input.uncomplete(id = 'uncomplete',type="button", value="Not completed") 
            input.complete(id = 'complete', type="button", value="Сompleted")
            input.expired(id = 'expired', type="button", value="Expired") 
        .section_remove__tabs
            .section_undone
            .section_done
            .section_expired
            