.container
    .section_add__title
            //- input(type="checkbox", id="menu_checkbox")
            //- label.toggle_button(for="menu_checkbox")
            .menu
                .menu_plus
                    i.far.fa-plus-square
                .menu_bars
                    i.fas.fa-bars
            h1 TodoList
    .section_task
        .section_add
            .section_add__tasks
                .new_task
                    input.title_inp(type="text", placeholder="Name your task")
                    textarea.description_inp(name="", cols="30", rows="10", placeholder="Description task")
                    .new_task_button
                        input(type="date", name="date" id="date")
                        input.add(type="button", value="Add")
            .section_description_todo
                p "Success is 99% failure"
                p Soichiro Honda
        .section_remove
            .section_remove_button
                input.uncomplete(id = 'uncomplete',type="button", value="Not completed") 
                input.complete(id = 'complete', type="button", value="Сompleted")
                input.expired(id = 'expired', type="button", value="Expired") 
            .section_remove__tabs
                .section_undone
                .section_done
                .section_expired
            