.menu{
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  transition: all ease 0.5s;
}
.menu_bars{
  display: none;
}
.menu_plus.visibility,
.menu_bars.visibility{
  display: flex;
}

.menu_plus.unvisibility,
.menu_bars.unvisibility{
  display: none;
}

.container {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #4c2e66, #5b2f8d);
}
.section_task {
  display: flex;
  flex-wrap: wrap;
}
.section_add,
.section_remove {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 15%;
  background-color: rgba($color: #fff, $alpha: 0.7);
  margin: 15px;
  padding: 20px 30px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
// .section_remove.visibility,
// .section_add.visibility{
//   display: flex !important;
// }
// .section_remove.unvisibility,
// .section_add.unvisibility{
//   display: none !important;
// }
.section_add {
  flex: 1 1 20%;
}
.section_add__title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  h1 {
    font-family: "PlayfairDisplay Italic", sans-serif;
    font-size: calc(27px + 1.7857vw);
    letter-spacing: 15px;
    color: white;
  }
}

.section_add__tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 5px;
}
.new_task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    background-color: rgba($color: #fff, $alpha: 0.9);
  }
}
.title_inp,
.description_inp {
  font-family: "Raleway Bold", sans-serif;
  width: 100%;
  padding: 10px;
  // border: 2px solid #000000;
  border-radius: 20px;
  margin: 10px 0;
}

.description_inp {
  min-height: 100px;
  background-color: rgba($color: #fff, $alpha: 0.9);
}
.new_task_button {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  #date {
    padding: 0 10px;
    font-family: "Raleway Bold", sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    color: #000;
    transition: all ease-in 0.4s;
  }
  #data:hover {
    cursor: pointer;
    color: #fff !important;
    background-color: blueviolet !important;
  }
}

.add {
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px;
  color: #000;
  transition: all ease-in 0.5s;
}
.add:hover {
  cursor: pointer;
  color: #fff !important;
  background-color: #4a2869 !important;
}

.section_remove {
  flex: 1 1 60%;
  display: flex;
  // justify-content: center;
  align-items: unset;
}
.section_remove_button {
  display: flex;
  justify-content: space-around;
}

.uncomplete,
.complete,
.expired {
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  flex: 1 1 100%;
  padding: 10px;
  border-radius: 20px;
  color: #000;
  background-color: rgba($color: #fff, $alpha: 0.5);
  margin: 0 10px;
  transition: all 0.5s ease-in;
}

#uncomplete:hover,
#complete:hover,
#expired:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4a2869;
}

.uncomplete.active,
.complete.active,
.expired.active {
  background-color: rgba($color: #fff, $alpha: 0.9);
}

.section_remove__tabs {
  display: flex;
  justify-content: space-around;
  margin: 15px 5px;
  color: white;
}
.section_undone,
.section_done,
.section_expired {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 50%;
  min-width: 49%;
  margin: 10px;
  padding: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-radius: 20px;
  h2 {
    align-self: center;
  }
}

.section_done,
.section_undone,
.section_expired {
  display: none;
}

.section_done.active {
  display: flex;
}
.section_undone.active {
  display: flex;
}
.section_expired.active {
  display: flex;
}
// .task {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   border-bottom: 3px solid red;
// }
.task_title_cheked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.newDate {
  font-family: "Raleway Bold", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 7px 20px;
  background-color: rgba($color: #fff, $alpha: 0.9);
  color: #000;
  transition: all ease-in 0.4s;
}

.title_task {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 20px;
  flex: 1 1 calc(50% - 10px);
  margin: 0 10px;
  padding: 5px 15px;
  background-color: rgba($color: #fff, $alpha: 0.9);
  border-radius: 20px;
}
.title_task.check1,
.description_p.check1 {
  background: linear-gradient(90deg, #391437, #5d258d);
  text-decoration: underline;
  color: #fff;
}

.task_title_cheked {
  color: green($color: #000000);
  cursor: pointer;
  background-color: red($color: #000000);
}

.task_title_cheked_btn {
  display: flex;
  margin: 10px;
  input {
    padding: 5px;
  }

  .task_description {
    width: 100%;
    border: 2px solid #000000;
    margin: 10px 0;
    padding: 10px;
  }
}
.task_description textarea {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 15px;
  width: 100%;
  min-height: 100px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgba($color: #fff, $alpha: 0.5);
}
.new__task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
}

.checked,
.unchecked,
.edit,
.save,
.remove {
  font-size: 17px;
  border-radius: 20px;
  padding: 5px;
  margin: 3px;
  // cursor: none;
  background-color: rgba($color: #fff, $alpha: 0.9);
  color: #000000;
  transition: all ease-in 0.5s;
}
.checked:hover,
.unchecked:hover,
.edit:hover,
.save:hover,
.remove:hover {
  color: #fff;
  background-color: #4a2869;
  cursor: pointer;
}
.section_description_todo {
  line-height: 1.5;
  text-align: justify;
  margin: 10px 0;
}
